@use './variables.scss';

#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 20px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/* Buttons */
.btn-brand {
  background-color: var(--brand-color) !important;
  color: white !important;
}

.btn-brand:hover {
  background-color: var(--brand-color-lighter) !important;
}

.btn-add {
  color: var(--button-color) !important;
  background-color: var(--neutral-gray) !important;
  border-radius: 50% !important;
}

.btn-add:hover {
  color: var(--button-hover-color) !important;
}