/* @use './partials/exmaple.scss'; */
@use './variables.scss';
@use './partials/header.scss';

#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: currentColor;
  text-decoration: none;
}

.btn-brand {
  background-color: var(--brand-color) !important;
  color: white !important;
}