:root {
    --brand-color: #FF3367;
    --brand-color-lighter: #FC5978;
    --neutral-gray: #EDEDED;
    --neutral-dark-gray: #2D2D2D;
    --past-travel-color: #9D9D9D;
    --text-color: #FFFFFF;
    --background-light: #F1BF98;
}